# ============================================================
# Examples
#
# Defaultvalues:
#   inherit = true
#   scope   = both
#   matcher = glob
#
# ============================================================

# ------------------------------------------------------------
# BLACKLIST
# ------------------------------------------------------------

[blacklist]

[[blacklist.rule]]
pattern = "*.tmp"

[[blacklist.rule]]
pattern = "*.bak"
scope = "file"

# ------------------------------------------------------------
# WHITELIST
# ------------------------------------------------------------
